@font-face {
    font-family: 'AlongSans';
    src: local('AlongSans'), url(./fonts/AlongSanss2-Heavy.otf) format('opentype');
}
@font-face {
    font-family: 'DS-Digit';
    src: local('DS-Digit'), url(./fonts/DS-DIGIB.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-regular';
    src: local('Poppins-regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: local('Poppins-bold'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

body {
    background: #6F5DE1;
    color: #F8F8F8;
}

.settings{
    max-width: 48px;
    position: absolute;
    right: 16px;
    justify-self: right;
}
